# taruh di /etc/systemd/system
# systemctl daemon-reload
# systemctl enable parking
# systemctl start parking

[Unit]
Description=Parking controller service
Requires=network.target

[Service]
User=root
ExecStart=/home/yogya/apps/parking-system/parking.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
