@import 'variables';
@import '~element-ui/lib/theme-chalk/index.css';

@font-face {
    font-family: "MyriadMM";
    src: url("../assets/fonts/MyriadMM.ttf");
}

* {
    font-family: "MyriadMM", sans-serif;
}

html {
    height: 100%;
}

body {
    font-family: "MyriadMM", sans-serif;
    min-height: 100%;
    color: #505050;
    margin: 0;
    padding: 0;
}

.el-dialog__header, .el-dialog__footer {
    background-color: #324057;
    padding: 15px;
}

.el-dialog__title {
    color: #fff;
}

.el-icon-more {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.el-table {
    width:100%;
    border-top:1px solid #eee;
}

.no-padding-dialog > .el-dialog__body {
    padding: 0px;
}

.pointer {
    cursor: pointer;
}

.text-right {
    text-align: right;
}

.text-white, .text-white:hover, .text-white:active, .text-white:focus {
    color: #fff !important;
}

.el-form-item__label {
    font-weight: bold;
}

.bg-blue {
    background-color: $blue !important;
}
.bg-indigo {
    background-color: $indigo !important;
}
.bg-purple {
    background-color: $purple !important;
}
.bg-pink {
    background-color: $pink !important;
}
.bg-red {
    background-color: $red !important;
}
.bg-orange {
    background-color: $orange !important;
}
.bg-yellow {
    background-color: $yellow !important;
}
.bg-green {
    background-color: $green !important;
}
.bg-teal {
    background-color: $teal !important;
}
.bg-cyan {
    background-color: $cyan !important;
}

.el-table th {
    background-color: #060446;
    color: #fff;
}

.text-red {
    color: $red;
}

.text-green {
    color: $green;
}

.table {
    width: 100%;
    border-top: 2px solid #ddd;
}

.table th, .table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.el-table .inactive-row {
    background: #ffeff0;
}
